# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
#*.py[cod]
#my_script.py

# Django
*.sqlite3
/media
/staticfiles
*.log
*.pot
*.pyc
*.pyo

# Virtual environment
venv/